@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 11px;
    color: white;
    background-color: #f95759;
    padding: 1px 6px;
    border-radius: 3px;
}
