@import url('https://fonts.googleapis.com/css?family=Roboto');

.badge {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    background-color: #00aab1;
    padding: 2px 6px;
    border-radius: 3px;
}
